.row{
display: flex;
padding: 7px;
min-width: 40%;
width: 100%;
}
.col{
  width: 100%;
  margin: 8px;
  min-width: 20%;

}
.header{
  min-width: 30%;
  width: 100%;
  margin: 20px;
}
.kg-date{

margin-left: 110px;
padding: 8px;
 }
.kg-place{


}
